######################
# IntelliJ
######################
.gradle
.classpath
.settings
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/


######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Mac OSX
######################
.DS_Store
.svn

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# Maven Wrapper
######################
/log/
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

######################
# STS
######################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

######################
# NetBeans
######################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

######################
# VS CODE
######################
.vscode/